.body{
  background-color: rgba(138, 0, 0, 0.726)

} 
 
 div.scrollmenu {
    background-color: rgba(138, 0, 0, 0.726);
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgba(138, 0, 0, 0.726);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: rgba(138, 0, 0, 0.726);
  }

  
.navbar {
  overflow: hidden;
  background-color: rgb(214, 214, 214);
}

.navbar a {
  float: center;
  font-size: 16px;
  color: rgb(82, 41, 41);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgba(138, 0, 0, 0.726);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:rgba(138, 0, 0, 0.726);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(138, 0, 0, 0.726);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: rgba(138, 0, 0, 0.726);
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: rgb(0, 0, 0);
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
} 